[holland:backup]
backups-to-keep = 1
estimated-size-factor = 1.0
plugin = {{ item.name }}

[{{ item.name }}]
{% for key, value in item['backupset_options'].items() %}
{{ key }} = {{ value }}
{% endfor %}

[compression]
{% for key, value in item['compression_options'].items() %}
{{ key }} = {{ value }}
{% endfor %}

[mysql:client]
defaults-extra-file = ~/.my.cnf
{% if galera_holland_mysql_user is defined %}
user = '{{ galera_holland_mysql_user }}'
{% else %}
#user=
{% endif %}
{% if galera_holland_mysql_password is defined %}
password = '{{ galera_holland_mysql_password }}'
{% else %}
#password=
{% endif %}
{% if galera_holland_mysql_socket is defined %}
socket = '{{ galera_holland_mysql_socket }}'
{% else %}
#socket =
{% endif %}
{% if galera_holland_mysql_host is defined %}
host = '{{ galera_holland_mysql_host }}'
{% else %}
#host =
{% endif %}
{% if galera_holland_mysql_port is defined %}
port = '{{ galera_holland_mysql_port }}'
{% else %}
#port =
{% endif %}
